<div *ngIf="loading" class="w-full flex items-center justify-center p-8">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
</div>

<div *ngIf="!loading" class="p-4 custom-card">
    <div class="mb-4">
        <p class="font-bold">Create Role</p>
        <p class="text-gray-600">A Role is a collection of privileges grouped under a single label. Defines what a type of user can do.</p>
    </div>

    <div class="mb-4 flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="name2" class="font-medium">Name</label>
            <input 
                placeholder="e.g. SUPER_ADMIN" 
                [(ngModel)]="roleName" 
                pInputText 
                id="name2" 
                type="text" 
                class="w-full"
            />
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-medium">Select Privileges</label>
            <p-multiSelect
                [options]="privileges"
                [(ngModel)]="selectedPrivileges"
                optionLabel="name"
                placeholder="Select privileges"
                display="chip"
                class="w-full"
                [showToggleAll]="true"
                [filter]="true"
                [selectedItemsLabel]="'{0} privileges selected'"
            ></p-multiSelect>
        </div>

        <div class="flex justify-end">
            <p-button 
                [disabled]="selectedPrivileges.length<1 || roleName===''" 
                icon="pi pi-file-plus"
                (onClick)="createRole()" 
                size="small"
                [outlined]="true" 
                label="Create" 
                [loading]="loading" 
                class="w-full sm:w-auto"
            ></p-button>
        </div>
    </div>
</div>
