<div *ngIf="loading" class="w-full flex items-center justify-center p-8">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
</div>

<div *ngIf="!loading" class="p-4 custom-card">
    <div class="mb-4">
        <p class="font-bold">Create Privileges</p>
        <p class="text-gray-600">Privileges are actions that a user can perform on the system.</p>
    </div>

    <div class="mb-4 flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="name2" class="font-medium">Name</label>
            <input 
                [(ngModel)]="privilegeName" 
                placeholder="e.g. CREATE_USER" 
                pInputText 
                id="name2" 
                type="text" 
                class="w-full"
            />
        </div>

        <div class="flex justify-end">
            <p-button 
                [disabled]="privilegeName===''" 
                icon="pi pi-file-plus" 
                (onClick)="createPrivilege()" 
                size="small" 
                [outlined]="true" 
                label="Create" 
                [loading]="loading" 
                class="w-full sm:w-auto"
            ></p-button>
        </div>
    </div>
</div>
